/* images */
.resp-image{

     width:500px;
}
/* header */
.header-css{

     background:rgb(8,48,66,1);
     /* background: rgb(41,8,167);
     background: linear-gradient(135deg, rgba(41,8,167,1) 0%, rgba(118,9,177,1) 100%); */
     color:white;
     font-size: 20px;
     
}

.nav-link{

     width: 100% !important;
     padding-left: 24px !important;
     padding-right: 24px !important;
     color:white !important;
     opacity: 1 !important;
}
.nav-link:hover{

     color:lightgreen !important;
}
/* banner */
.banner-css{

     background:rgb(8,48,66);
     /* background: rgb(41,8,167);
background: linear-gradient(135deg, rgba(41,8,167,1) 0%, rgba(118,9,177,1) 100%); */
}

.banner-text-heading{

     color:#3DDB85;
     font-weight: 700;
     font-size: 65px;
     word-wrap: break-word;

}

.banner-text-tagline
{
     color:white;
     font-size:25px;
}

.banner-text-organiser{

     color:rgb(226, 224, 224);
     font-size: 20px;

}

.banner-text-organiser a{

     color:#3DDB85;
}

.banner-button-register{

     background:#EA9010;
 
     color:white;
     font-weight: bold;
     font-size:30px;
     width:50%;
     min-width: 200px;
     border-radius: 10px;
     border:1px solid white
}

.banner-button-register:hover{

     background:white;
     color:black
}

.banner-button-discord
{
     background:rgb(12, 71, 99);
     color:white;
     font-size:23px;
     width:30%;
     min-width:150px;
     border-radius: 10px;

}

.banner-button-discord:hover{
     color:lightgreen;
}



/* aboutus */

.about-text-heading{

     font-weight: 700;
     font-size: 50px;
     word-wrap: break-word;
}

.about-text-content{

     font-weight: 700;
     font-size: 25px;
}

.about-text-content-highlight{


     font-weight: 700;
     font-size: 25px;
     color:#EA9010

}

/* problem */

#problem{

     background: url(../images/pattern.png), #083042;
     background-blend-mode: color-burn, normal;
}

.pr-text-heading{

     color:white;
     font-weight: 700;
     font-size:50px;
}

.problem-card{

     border:3px solid #EA9010;
     border-radius: 20px;
     box-sizing: border-box;
     padding:30px;
     background:rgb(8,48,66,1) ;
}

.problem-card img{

     height: 120px;
     background: white;
     padding:5%;
     border-radius: 50%;
}

.problem-card h2{

     color:#EA9010;
     font-weight: 700;
     font-size: 35px;
     margin-bottom: 30px;
}

.problem-card p{

     color:white;
     font-size:20px;
     font-weight: 400;
}


.problem-card:hover{

     background:rgb(14, 82, 114);
}

/* prizes */



.prz-text-heading{

     font-weight: 700;
     font-size: 50px;
}

.prz-text-subhead{

     font-weight: 400;
     color:red;
     font-size: 20px;
}

.prz-card{

     border:1px solid black;
     border-radius:5%;
     padding:5%;
     
}

.prz-card img{

     height: 100px;
     width:100px;
     margin-left: auto;
     margin-right: auto;
}

.prz-card h3{

     font-weight: 700;
     font-size:30px;
     text-decoration: underline;
}

.prz-card p{

     color:gray;
     font-weight: 300;
     font-size: 20px;
}

/* sponsors */


#sponsor{

     background: url(../images/pattern.png), #083042;
     background-blend-mode: color-burn, normal;
     
}

.spn-text-heading{


     font-weight: 700;
     font-size: 50px;
     color:white;
}

.spn-card{

     border:2px solid white;
     border-radius:30px;
     padding-top:20px;
     padding-bottom: 20px;
     background: none;
}

.spn-card img{

     width:100px;
     height: 100px;
}

.spn-card h3{

     color:white;
     font-size: 30px;
     font-weight: 500;
     margin-bottom: 5%;
}

/* rules */

#rules{

     background: url(../images/pattern.png), #083042;
     background-blend-mode: color-burn, normal;

}

.rules-text-heading{


     font-weight: 700;
     font-size: 50px;
     color:white;

}

#rules h3{

     font-weight: 500;
     font-size:25px;
     color:#EA9010;
}


#rules li{

     color:white;
     font-size: 20px;
     font-weight: 300;

}

/* faq */

.faq-text-heading{

     font-weight: 700;
     font-size: 50px;


}

.faq-question{

     font-size: 25px;
     font-weight: 500;
}

.faq-answer{

     font-size: 20px;
     font-weight: 300;
     border:1px solid black;
}

.faq-question:hover{

     background: rgb(8,48,66,1);
     color:white;

}


/* schedule */

.schedule-text-heading{

     font-weight: 700;
     font-size: 50px;


}



/* tablet  */

@media (max-width:991px){

     /* header */
     .header-css{

          background:rgb(8,48,66,0.95);
          /* background: rgb(41,8,167);
background: linear-gradient(135deg, rgba(41,8,167,0.95) 0%, rgba(118,9,177,0.95) 100%); */
          color:white;
          font-size: 16px;
          text-align: center;
          
     }


     .nav-link{

          width: 100% !important;
          padding-left: 16px !important;
          padding-right: 16px !important;
          padding:2%;
          border-bottom: 1px solid white;
          color:white !important;
          opacity: 1 !important;
     }
     .nav-link:hover{

          color:lightgreen !important;
     }

}

/* mobile */
@media (max-width:575px){


     .resp-image{

          width:100%;
     }

     /* aboutus */

     .about-text-heading{

          font-weight: 700;
          font-size: 35px;
          word-wrap: break-word;
     }

     .about-text-content{

          font-weight: 700;
          font-size: 20px;
     }

     .about-text-content-highlight{


          font-weight: 700;
          font-size: 20px;
          color:#EA9010

     }

     /* problem */

     #problem{

          background: url(../images/pattern.png), #083042;
          background-blend-mode: color-burn, normal;
     }

     .pr-text-heading{

          color:white;
          font-weight: 700;
          font-size:35px;
     }

     .problem-card{

          border:3px solid #EA9010;
          border-radius: 20px;
          box-sizing: border-box;
          padding:20px;
     }

     .problem-card img{

          height: 120px;
          background: white;
          padding:5%;
          border-radius: 50%;
     }

     .problem-card h2{

          color:#EA9010;
          font-weight: 700;
          font-size: 25px;
          margin-bottom: 30px;
     }

     .problem-card p{

          color:white;
          font-size:20px;
          font-weight: 400;
     }

     /* prizes */

     .prz-text-heading{

          font-weight: 700;
          font-size: 35px;
     }
     
     .prz-text-subhead{
     
          font-weight: 400;
          color:red;
          font-size: 15px;
     }
     
     .prz-card{
     
          border:1px solid black;
          border-radius:5%;
          padding:5%;
          
     }
     
     .prz-card img{
     
          height: 100px;
          width:100px;
          margin-left: auto;
          margin-right: auto;
     }
     
     .prz-card h3{
     
          font-weight: 700;
          font-size:25px;
          text-decoration: underline;
     }
     
     .prz-card p{
     
          color:gray;
          font-weight: 300;
          font-size: 20px;
     }


     
     /* sponsors */


     #sponsor{

          background: url(../images/pattern.png), #083042;
          background-blend-mode: color-burn, normal;
          
     }

     .spn-text-heading{


          font-weight: 700;
          font-size: 35px;
          color:white;
     }

     .spn-card{

          border:2px solid white;
          border-radius:30px;
          padding-top:20px;
          padding-bottom: 20px;
          background: none;
     }

     .spn-card img{

          width:100px;
          height: 100px;
     }

     .spn-card h3{

          color:white;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5%;
     }


     /* rules */

     .rules-text-heading{


          font-weight: 700;
          font-size: 35px;
          color:white;
     }

     #rules h3{

          font-weight: 500;
          font-size:20px;
          color:#EA9010;
     }
     
     
     #rules li{
     
          color:white;
          font-size: 17px;
          font-weight: 300;
     
     }

     /* schedule */

     .schedule-text-heading{
          
          font-weight: 700;
          font-size: 35px;
     }

     /* faq */

     .faq-text-heading{
          
          font-weight: 700;
          font-size: 35px;
     }

     .faq-question{

          font-size: 20px;
          font-weight: 500;
     }
     
     .faq-answer{
     
          font-size: 15px;
          font-weight: 300;
          border:1px solid black;
     }





}